<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWT_Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      <section name="DefaultValues" type="System.Configuration.NameValueSectionHandler" />
      <section name="ExcelExportsPath" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <connectionStrings>
        <add name="WWT_Inventory.Properties.Settings.DBConnection" connectionString="Data Source=localhost;Initial Catalog=WWT_InventoryDB;User ID=sa;Password=soe311095mmocc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CompanyName" value="WWT"/>
    <add key="Phone" value="0965896,2369*5"/>
    <add key="Address1" value="Aung Myae Thar Zan, Mandalay"/>
    <add key="Address2" value="Aung Myae Thar Zan, Mandalay"/>
    <add key="Email" value="wwt@gmail.com"/>
    <add key="Content" value="Thank You for Your Loyal"/>
    <add key="AdminRole" value="admin"/>
    <add key="SaleRole" value="sale"/>
    
    <!--<add key="SupplierCD" value="SP001"/>
    <add key="CategoryCD" value="C000001"/>
    <add key="SubCategoryCD" value="SC000001"/>
    <add key="UnitCD" value="U000001"/>-->
  </appSettings>
  <DefaultValues>
    <add key="SupplierCD" value="SP001"/>
    <add key="SupplierName" value="Default Supplier"/>
    <add key="CategoryCD" value="C000001"/>
    <add key="CategoryName" value="Default Category"/>
    <add key="SubCategoryCD" value="SC000001"/>
    <add key="SubCategoryName" value="Default SubCategory"/>
    <add key="UnitCD" value="U000001"/>
    <add key="UnitName" value="PCS"/>
  </DefaultValues>
  <ExcelExportsPath>
    <add key="itemExportLocation" value="D:\Hospital Team OJT\ExcelExportItem"/>
  </ExcelExportsPath>
    <applicationSettings>
        <WWT_Inventory.Properties.Settings>
            <setting name="DeviceID" serializeAs="String">
                <value>PC00001</value>
            </setting>
        </WWT_Inventory.Properties.Settings>
    </applicationSettings>
</configuration>